$primary-darker: #0084ab;
$primary-dark: #1099bf;
$primary-lighter: #e76829;
$primary-light: #e76829;

$secondary-darker: #222;
$secondary-dark: #555;
$secondary-lighter: #fefefe;
$secondary-light: #dedede;

$action-success: #16a085;

$twitter-color: #00aced;
